.bfy-layout {
  display: block;
  min-height: 1em; }
  .bfy-layout_slice {
    display: inline-block;
    vertical-align: top;
    background-color: pink;
    height: 100%; }
    .bfy-layout_slice:nth-child(2n) {
      background-color: aqua; }
