.bfy-layout {
    display: block;
    min-height: 1em;

    &_slice {
        display: inline-block;
        vertical-align: top;
        background-color: pink;
        height: 100%;

        &:nth-child(2n) { 
            background-color: aqua;
        }
    }
}